<% if signed_in? %>
  <div class="row clearfix">
    <%= render 'shared/user_info' %>
    <aside class="span6 feed">
      <h3>My Browsers (<%= @browser_items.count %>)</h3>
      <%= render 'shared/browser_form' %>
      <%= render 'shared/browser_feed' %>
    </aside>
    <aside class="span6 feed">
      <h3>My Tracks (<%= @track_items.count %>)</h3>
      <%= render 'shared/track_form' %>
      <%= render 'shared/track_feed' %>
    </aside>
  </div>
<% else %>
	<div class="center hero-unit">
		<h1>Welcome to Anno-JR</h1>
	  <h2>
	    Your resource for building and managing your <a href="http://www.annoj.org">Anno-J</a> instances!
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>