<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/browser_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>My Browsers (<%= @feed_items.count %>)</h3>
      <%= render 'shared/browser_feed' %>
    </div>
  </div>
<% else %>
	<div class="center hero-unit">
		<h1>Welcome to Anno-JR</h1>
	  <h2>
	    Your resource for building and managing your <a href="http://www.annoj.org">Anno-J</a> instances!
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>