<% content_for :javascript_includes do %>
  <%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>
<% end %>

<div id="info">
  <h1><%= @track.name %></h1>
  <h2>Added by <%= @track.user.name %></h2>

  <% unless track_success? %>
  <b class="center">Notice: The data for this track could not be reached. If you are the owner of this track, please make sure the fetcher is linked propperly.</b>
  <% end %>

  <div class="clearfix">
    <div class="left">
      <h3>Provider:</h3>
      <p><a href=<%= track_provider['url'] %> target="_blank"><%= track_provider['name'] %></a></p>

      <h3>Contact:</h3>
      <p><a href="mailto:<%= track_contact['email'] %>" target="_blank"><%= track_contact['name'] %></a></p>
    </div>

    <div class="right">
      <h3>Species:</h3>
      <p><%= track_species %></p>

      <h3>Title:</h3>
      <p><%= track_title %></p>
    </div>
  </div>

  <h3>Description:</h3>
  <%= simple_format(track_description, {}, wrapper_tag: "p") %>
</div>
