<% provide(:title, "Edit browser") %>
<h1>Edit your browser</h1>

<div class="row">
  <aside class="span6">
  	<h3>Info</h3>
    <%= form_for(@browser) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </aside>
  <aside class="span6 feed">
  	<h3>Tracks</h3>
  	<% if @linked_tracks.any? %>
  		<h4>Linked Tracks</h4>
  		<ol class="tracks">
  			<%= render partial: 'browsers/track', collection: @linked_tracks %>
  		</ol>
  	<% end %>
  	<% if @unlinked_tracks.any? %>
  		<h4>Unlinked Tracks</h4>
  		<ol class="tracks">
  			<%= render partial: 'browsers/track', collection: @unlinked_tracks %>
  		</ol>
  	<% end %>
  </aside>
</div>